<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials::head('Create Post')"></head>
<body>
<main role="main" class="container">
    <div th:replace="partials::header"></div>
    <div th:replace="partials::navbar"></div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">New Post</h5>
            <form class="card-text" th:action="'/posts/' + ${post.id} + '/edit'" method="post" th:object="${post}">
                Title:
                <input th:field="*{title}" />
                <br />
                Body:
                <textarea th:field="*{body}" ></textarea>
                <br />
                <button type="submit">Edit</button>
            </form>
        </div>
    </div>
    <div th:replace="partials::footer"></div>
</main><!-- /.container -->
<div th:replace="partials::scripts"></div>
</body>
</html>